.ItemCard {
    background-color: #CCCCFF;
    display: inline-block;
    margin: 15px;
    outline:auto;
    width: 300px;
    height: auto;
    vertical-align: top;
}
.item-name {
    text-align: center;
    margin-top: 2px;
    margin-left: 10px;
}

.item-price {
    float: right;
}

.item-description {
    margin-left: 10px;
}

.item-expand {
    text-align: center;
}

.item-image {
    display: block;
    margin-top: 4px;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}
.inline {
    display: inline;
}

.remove-button {
    float: right;
    margin-top: 2px;
    margin-right: 2px;
    width: auto;
    height: auto;
}

.edit-button {
    float: left;
    margin-top: 2px;
    margin-left: 2px;
    width: auto;
    height: auto;
}