
body {
  background-color:darkgray;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header-text {
  display: inline;
  margin-left: 10px;
  font-size: 70px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
}

hr {
  color:darkslateblue;
  border-style: solid;
}

.nav-link {
  display: inline-block;
  width: 120px;
  padding: 5px;
  margin: 10px 6px 6px;
  background: white;
  text-decoration: none;
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  color: black;
}

.active {
  background: #CCCCFF;
}

.list-header {
  margin-left: 20px;
  display: block;
  font-size: 30px;
  margin-top: 15px;
  margin-block-end: 0em;
  margin-inline-start: 20px;
  font-weight: bold;
}

.add-description {
  margin-left: 20px;
  width: 400px;
}

#nameInput  {
  display: inline-block;
  margin-right: 60px
}

#submitButton {
  display: inline-block;
  min-width: 80px;
  padding: 5px;
  margin: 0px 6px 6px;
  background: white;
  font-weight: 400;
  font-size: 20px;
}

#submitButton:hover {
  background-color:#CCCCFF;
}

#descriptionInput {
  height:60px
}

textarea {
  min-height:20px;
  min-width: 250px;
  display: block;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
  font-size: large;
}

input {
  min-height:20px;
  min-width: 250px;
  display: block;
  margin-left: 20px;
  margin-bottom: 10px;
  font-size: large;
}

